// --FONT--

// font weight
$font-light: 300;
$font-regular: 400;
$font-bold: 700;

// --COLOURS--
// primary
$color-dark-blue: hsl(233, 26%, 24%);
$color-lime-green: hsl(136, 65%, 51%);
$color-bright-cyan: hsl(192, 70%, 51%);

// Neutral
$color-white: #fff;
$color-grayish-blue: hsl(233, 8%, 62%);
$color-grayish-blue2: hsl(233, 8%, 62%);
$color-grayish-blue3: hsl(0, 0%, 98%);

