.align-self-center {
  align-self: center;
}

.relative {
  position: relative;
}

.flex {
  display: flex;

  &-row {
    flex-direction: row;
  }
  &-column {
    flex-direction: column;
  }
  &-wrap {
    flex-wrap: wrap;
  }
  &.justify-center {
    justify-content: center;
  }

  &.justify-between {
    justify-content: space-between;
  }
}
