.card {
  &-feature {
    padding: 4rem 2rem;
    text-align: center;

    img {
      width: 100%;
      max-width: 7.2rem;
    }

    h5 {
      @include margin-y(1.6rem);
    }
  }

  &-article {
    background-color: $color-white;
    box-shadow: 0px 0.8rem 4rem rgba(0, 0, 0, 0.04);
    margin-bottom: 2rem;
    border-radius: 1.4rem;
    overflow: hidden;

    &-image {
      img {
        width: 100%;
      }
    }

    &-title {
      padding: 3rem 2rem;
    }
  }
}
