.nav {
  &-container {
    @include container;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1;
    flex-direction: row;
    background-color: $color-white;
    box-shadow: 0px 0.8rem 4rem rgba(0, 0, 0, 0.04);

    @include media-breakpoint-down(md) {
      @include padding-y(2.4rem);
    }
  }

  &-logo {
    text-decoration: none;

    img {
      width: 100%;
    }
  }

  &-menus {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: 1.5rem;
    background-color: $color-white;

    @include media-breakpoint-down(md) {
      opacity: 0;
      align-items: center;
      justify-content: center;
      position: absolute;
      flex-direction: column;
      font-size: 1.2rem;
      top: 13rem;
      left: 15%;
      width: 70%;
      border-radius: 1rem;
      box-shadow: 0px 0.8rem 4rem rgba(0, 0, 0, 0.08);
      transition: opacity 0.3s ease;
      @include padding-y(2rem);
    }

    &-item {
      cursor: pointer;
      color: $color-grayish-blue;
      border-bottom: 0.3rem solid white;
      list-style: none;
      text-decoration: none;
      padding: 3rem 2rem;
      transition: all 0.8s ease;

      @include media-breakpoint-down(md) {
        width: 100%;
        text-align: center;
        transition: all 0.3s ease;
        @include padding-y(1.4rem);

        &:hover {
          color: $color-dark-blue;
          background-color: $color-grayish-blue3;
        }
      }

      @include media-breakpoint-up(md) {
        &:hover {
          color: $color-dark-blue;
          border-bottom: 0.3rem solid $color-lime-green;
        }
      }

      &.active {
        border-bottom: 0.3rem solid $color-lime-green;
        color: $color-dark-blue;

        @include media-breakpoint-down(md) {
          font-weight: 700;
          color: $color-lime-green;
          border-bottom: 0.3rem solid white;
          background-color: $color-grayish-blue3;
        }
      }
    }

    &.show {
      opacity: 1;
    }
  }

  &-button {
    display: block;

    @include media-breakpoint-down(md) {
      display: none;
    }
  }

  &-hamburger {
    display: flex;
    flex-direction: column;
    width: 3rem;
    cursor: pointer;
    transition: all 0.3 ease;

    @include media-breakpoint-up(md) {
      display: none;
    }

    & > span {
      background: $color-dark-blue;
      border-radius: 10px;
      height: 0.2rem;
      margin: 0.3rem 0;
      transition: all 0.3s ease;

      &:nth-of-type(1) {
        width: 100%;
      }

      &:nth-of-type(2) {
        width: 100%;
      }

      &:nth-of-type(3) {
        width: 100%;
      }
    }

    input[type="checkbox"] {
      display: none;
    }
  }
}

.disabledScroll {
  overflow: hidden;
}
